<div class="dashboard">
    <h1 class="dashboard.title">Dashboard</h1>
    {{#with user}}
    <h2 class="username">{{username}}</h2>
    {{#if isAdmin}}
    <h3 class="admin-mensaje">es Admin</h3>
    {{else}}
    <h3 class="admin-mensaje">No es admin</h3>
    {{/if}}
    {{/with}}

    <div class="product-grid"></div>
    {{#each products}}
        <div class="product-card">
        <div class="product-image-container">
            <img class="product-image" src={{this.thumbnail}} alt="">
        </div>
        <h2 class="product-title">{{this.title}}</h2>
        <h3 class="product-price">Precio: {{this.price}}</h3>
        </div>
    {{/each}}
</div>

<div>
    <form action="http://localhost:8080/api/products" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="nombre de producto">
        <input type="number" name="price" placeholder="precio">
        <input type="file" name="file">

        <button type="submit">Añadir Producto</button>
    </form>
</div>
</div>